#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:fit-content;
  width:fit-content;
  background: url('./TheOGbg.png') no-repeat center center fixed; /* Background image */
  /*background-size: contain;  Ensure the background covers the entire viewport */
  background-size: cover;
  background-attachment: fixed ;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between the two sets of buttons */
}

.button-group {
  display: flex;
  gap: 10px; /* Space between buttons in the same group */
}

.button {
  border: transparent; /* Same border for all buttons */
   padding: 25px 10px; /* Optional padding */
  border-radius: 5px; /* Optional border radius */
  background-color: transparent; /* Optional background color */
  cursor: pointer; /* Change cursor on hover */
}

/*
.left, .right {
  display: flex;
  gap: 10px;
}
*/